name: Java Maven Selenium CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:       # Manual trigger
  schedule:
    - cron: "*/5 * * * *" # Every 5 minutes (UTC)

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          openjdk-17-jdk \
          maven \
          unzip \
          wget \
          xvfb \
          libnss3 \
          libnspr4 \
          libxss1 \
          libgconf-2-4 || true

    - name: Install Google Chrome
      run: |
        wget -qO- https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb > chrome.deb
        sudo apt install -y ./chrome.deb
        google-chrome --version

    - name: Setup ChromeDriver
      uses: nanasess/setup-chromedriver@v2
      with:
        chrome-version: stable

    - name: Display Chrome & ChromeDriver versions
      run: |
        google-chrome --version
        chromedriver --version

    - name: Run Maven tests
      run: |
        mvn clean install -B
